* {
    --background-color: #fafafa;
    --foreground-color: #2c2c2c;
    --border-color: #b6b6b6;
    --shadow-color: rgba(78, 78, 78, 0.60);
    --list-item-color: #9aded4;
    --list-item-color-hover: #73d3c5;

    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1.content-title {
    font-weight: 100;
    font-size: 4rem;
    margin: 0;
}

div.content-container {
    flex-grow: 1;
    min-height: 0;
}

ul.task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}

li.task-item {
    margin-bottom: 0.125rem;
}

li.task-item > a {
    color: var(--foreground-color);
    text-decoration: none;
    display: block;
    padding: 1rem;
    background-color: var(--list-item-color);
    transition-property: background-color;
    transition-duration: 70ms;
}

li.task-item > a:hover {
    background-color: var(--list-item-color-hover);
}

/* Enough space both horizontally and vertically. */
@media not screen and (max-width: 40rem) and (max-height: 50rem) {
    div.app-container {
        all: unset;
        box-sizing: border-box;
        position: fixed;
        overflow: hidden;
        padding: 1rem;
        border: 0.125rem solid var(--border-color);
        border-radius: 1rem;
        width: 40rem;
        height: 50rem;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 1rem var(--shadow-color);
    }
}

/* Not enough space vertically but enough horizontally. */
@media (max-height: 50rem) {
    @media not screen and (max-width: 40rem) {
        div.app-container {
            all: unset;
            box-sizing: border-box;
            position: fixed;
            overflow: hidden;
            padding: 1rem;
            border: solid var(--border-color);
            border-width: 0 0.125rem;
            width: 40rem;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 0 0 1rem var(--shadow-color);
        }
    }
}

/* Compact mode without borders and shadow. */
@media (max-width: 40rem) {
    div.app-container {
        all: unset;
        box-sizing: border-box;
        position: fixed;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
}

div.app-container {
    display: flex;
    flex-direction: column;
}