* {
    --background-color: #efefef;
    --foreground-color: #2c2c2c;
    --border-color: #b6b6b6;
    --shadow-color: rgba(78, 78, 78, 0.60);
    --list-item-color: #9aded4;
    --list-item-color-hover: #73d3c5;
    --icon-color: #9aded4;
    --icon-destructive-color: #e88b8b;

    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;  
    color: var(--foreground-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1.content-title {
    font-weight: 100;
    font-size: 4rem;
    margin: 0;
}

div.content-container {
    flex-grow: 1;
    min-height: 0;
}

ul.task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}

li.task-item {
    margin-bottom: 0.125rem;
}

li.task-item > a {
    color: var(--foreground-color);
    text-decoration: none;
    display: block;
    padding: 1rem;
    background-color: var(--list-item-color);
    transition-property: background-color;
    transition-duration: 70ms;
}

li.task-item > a:hover {
    background-color: var(--list-item-color-hover);
}

/* Enough space both horizontally and vertically. */
@media not screen and (max-width: 40rem) and (max-height: 50rem) {
    div.app-container {
        all: unset;
        box-sizing: border-box;
        position: fixed;
        overflow: hidden;
        padding: 1rem;
        border: 0.125rem solid var(--border-color);
        border-radius: 1rem;
        width: 40rem;
        height: 50rem;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 1rem var(--shadow-color);
    }
}

/* Not enough space vertically but enough horizontally. */
@media (max-height: 50rem) {
    @media not screen and (max-width: 40rem) {
        div.app-container {
            all: unset;
            box-sizing: border-box;
            position: fixed;
            overflow: hidden;
            padding: 1rem;
            border: solid var(--border-color);
            border-width: 0 0.125rem;
            width: 40rem;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 0 0 1rem var(--shadow-color);
        }
    }
}

/* Compact mode without borders and shadow. */
@media (max-width: 40rem) {
    div.app-container {
        all: unset;
        box-sizing: border-box;
        position: fixed;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
}

div.app-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.status-mark-completed {
    margin: 0.5rem;
    color: var(--icon-color);
}

.status-mark-overdue {
    margin: 0.5rem;
    color: var(--icon-destructive-color);
}

a.hyperlink-button, a.hyperlink-button-destructive {
    color: var(--foreground-color);
    text-decoration: underline dotted;
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

a.hyperlink-button > i, a.hyperlink-button-destructive > i {
    margin-right: 0.5rem;
    color: var(--foreground-color);
    transition-property: color;
    transition-duration: 140ms;
}

a.hyperlink-button:hover > i {
    color: var(--icon-color);
}

a.hyperlink-button-destructive:hover > i {
    color: var(--icon-destructive-color);
}

div.actions-container {
    text-align: center;
    margin: auto;
}

div.actions-container a, div.actions-container button {
    color: var(--foreground-color);
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

div.actions-container button {
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    border-width: 0;
}

div.actions-container a > i, div.actions-container button > i {
    margin-right: 0.5rem;
    color: var(--foreground-color);
    transition-property: color;
    transition-duration: 140ms;
}

div.actions-container a:hover > i, div.actions-container button:hover > i {
    color: var(--icon-color);
}

div.actions-container a.destructive:hover > i, div.actions-container button.destructive > i {
    color: var(--icon-destructive-color);
}

/* Firefox: Make button's focus outline look the same as focus outline on a link. */
@supports (-moz-appearance:none) {
    div.actions-container button::-moz-focus-inner {
        border: none;
        padding: 0;
    }

    div.actions-container button:focus {
        outline-style: dotted;
        outline-width: 1px;
    }
}

form {

}

form input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

form label {
    display: block;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.75rem;
}

form input[type=text] {
    padding: 0.5rem;
    border: 0.125rem solid var(--border-color);
    width: 100%;
}

form input[type=date] {
    padding: 0.5rem;
    border: 0.125rem solid var(--border-color);
    width: 100%;
}

form textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0.5rem;
    border: 0.125rem solid var(--border-color);
    height: 5rem;
    width: 100%;
    resize: vertical;
}

form div.group {
    padding: 0.5rem;
}