@model ToDo.ViewModels.Tasks.Index

@{
    ViewData["Title"] = "All Tasks";
}

@section Scripts {
    <script src="~/scripts/script.js"></script>
}

@section Actions {
    <a asp-action="Create"><i class="fas fa-plus"></i>New</a>
}

<ul class="task-list">
    @foreach (var task in @Model.Tasks)
    {
        <li class="task-item"><a asp-action="Single" asp-route-id="@task.Id">@task.Name</a></li>
    }
</ul>