@model ToDo.ViewModels.Tasks.Index

@{
    ViewData["Title"] = "All Tasks";

    string SelectTaskItemClass(ToDo.Models.Task task)
    {
        if (task.IsCompleted)
        {
            return "task-item-completed";
        }
        else if (task.IsOverdue)
        {
            return "task-item-overdue";
        }

        return "task-item";
    }
}

@section Actions {
    <a asp-action="Create"><i class="fas fa-plus"></i>New</a>
}

<ul class="task-list">
    @foreach (var task in @Model.Tasks)
    {
        <li class="@SelectTaskItemClass(task)"><a asp-action="Single" asp-route-id="@task.Id">@task.Name</a></li>
    }
</ul>