@model ToDo.ViewModels.Tasks.Index

@{
    ViewData["Title"] = "All Tasks";
}

<ul class="task-list">
    @foreach (var task in @Model.Tasks)
    {
        <li class="task-item"><a asp-action="Single" asp-route-id="@task.Id">@task.Name</a></li>
    }
</ul>