@model ToDo.ViewModels.Tasks.Index

@{
    ViewData["Title"] = "All Tasks";
}

<ul>
    @foreach (var task in @Model.Tasks)
    {
        <li><a asp-action="Single" asp-route-id="@task.Id">@task.Name</a></li>
    }
</ul>